* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    background-color: azure;
}

header {
    text-align: center;
    background-color: #C3ABCD;
    padding: 20px;
}

section {
    background-color: #B8B0D9;
}

#valProm, #valPar, #valOrdMay {
    padding: 15px;
}

.contenedor-objetos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    align-items: center;
}

.objetos {
    padding-top: 1em;
}

#limite, select {
    height: 30px;
    width: 100px;
}

#btnLlenar {
    width: 15em;
    height: 30px;
    cursor: pointer;
}

#btnLlenar:hover {
    background-color: blueviolet;
    color: white;
}



#porPares, #porImpares, #esSimetrico {
    background-color: khaki;
    height: 2em;
    width: 10em;
    padding: 8px;
    border-radius: .3em;
    margin: 1em;
    color: brown;
    font-weight: bold;
}

.contenedor-objetos .porcentajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.porcentajes-pares, .porcentajes-impares, .simetrico {
    text-align: center;
}

#errorLimite {
    display: inline;
}

#limite, #numeros {
    padding-left: 5px;
    font-size: medium;
}




footer {
    text-align: center;
    padding: 20px;
    background-color: #B3CDCC;
}